*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

:root{
    --blue: #4a7ab0;
    --yellow : #f9e01b
}

::-webkit-scrollbar {
    width: 10px;
}
  

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: var(--blue); 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #30527a; 
}

.text-blue{
    color: var(--blue);
}

.bg-blue{
    background-color: var(--blue);
}

#nav{
    display: flex;
    flex-direction: column;
    background-color: var(--yellow);
    padding: 30px;
    align-items: center;
}

#nav-left{
    width: 100%;
    height: 70px;
    position: relative;
}

#logoweb{
    width: 40%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

#logomobile{
    display: none;
}

#ham-menu{
    width: 30px;
    position: absolute;
    top:50%;
    transform: translate(0%,-50%);
    cursor: pointer;
}

#nav-right{
    margin-top: 15px;
    display: none;
    flex-direction: column;
    text-align: center;
    gap : 5px
}

#nav-right a{
    text-decoration: none;
    font-size: .9em;
    margin-left: .8rem;
    font-weight: bold;
    color : var(--blue);
}

#menu-toggle:checked + #nav-right{
    display: flex;
}

#hero-section{
    height: 300px;
    display: flex;
    align-items: end;
    padding : 15px;
    background: url(../img/jaekwb.png) no-repeat;
    background-size: cover;
    background-position: center;
}

#hero-section h1,
#hero-section h3{
    color : var(--yellow);
}

#about{
    background-color: var(--blue);
    padding : 15px;
    display: flex;
    gap : 15px;
    flex-direction: column;
}

#about-team{
    background-color: var(--blue);
    padding : 15px;
    display: flex;
    gap : 15px;
    flex-direction: column;
}
.card{
    flex : 1;
    margin-bottom: 15px;
    border-radius: 20px;
    padding : 15px;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h1{
    color : var(--blue);
    text-align: left;
    margin-bottom: 20px;
    white-space: nowrap;
}

.card p{
    color : gray;
}

.card a{
    text-decoration: none;
    padding : 20px 50px;
    background-color: var(--blue);
    color : var(--yellow);
    font-weight: bold;
    display: block;
    border-radius: 20px;
}

.card section:nth-child(2){
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#about > section{
    display: inline-block;
    height: 100%;
}

#about-team > section{
    display: inline-block;
    height: 100%;
}

footer{
    padding : 50px 15px 50px 15px;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo{
    width: 180px;
    
}

footer span a{
    text-decoration: none;
    font-size: .9em;
    margin-left: .8rem;
    font-weight: bold;
    color : var(--blue);
    display: none;
}

/* ABOUT PAGE */

#about-section{
    height: 300px;
    display: flex;
    align-items: end;
    padding : 15px;
    background: url(../img/wbteam.png) no-repeat;
    background-size: cover;
    background-position: center;
}

#about-section h1,
#about-section h3{
    color : var(--yellow);
}

.about-card section a{
    text-decoration: none;
    padding : 20px 50px;
    background-color: var(--blue);
    color : var(--yellow);
    font-weight: bold;
    display: block;
    border-radius: 20px;
}

.about-card p{
    padding: 10px;
}

.card #wblogo{
    width: 300px !important;
}

/* faq page */

#faq{
    background-color: var(--blue);
    padding : 50px;
}

.faq-card{
    margin-bottom: 15px;
    border-radius: 20px;
    padding : 15px;
    background-color: var(--yellow);
}

.faq-card h1{
    color : var(--blue);
    text-align: center;
    font-size: 40px;
    padding: 10px !important;
}

.faq-card p{
    color : gray;
    padding: 10px 70px 10px 70px !important;
    font-size: 20px;
}

#faq-section{
    height: 300px;
    display: flex;
    align-items: end;
    padding : 15px;
    background: url(../img/faqpic.png) no-repeat;
    background-size: cover;
    background-position: center;
}

/* team page */

#team{
    background-color: var(--blue);
    padding : 50px 50px 0px 50px;
}

.team-card{
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: var(--yellow);
    padding: 20px !important;
}

.team-card h1{
    color : var(--blue);
    text-align: center;
    font-size: 40px;
    padding: 10px !important;
    white-space: nowrap;
}

#team h5{
    font-size: 30px;
    color: var(--blue);
}

#team p{
    color : gray;
    font-size: 20px;
}

.team-card p{
    color : gray;
    font-size: 20px;
}

.card-team .team-details{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.card-contact .team-details{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

#team .team-details{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.card-team .team-details h5{
    font-size: 30px;
    color: var(--blue);
}

.card-contact .team-details h5{
    font-size: 30px;
    color: var(--blue);
}

#team .team-details #hp  {
    width: 250px;
    height: 250px;
}

.card-team .team-details #hp  {
    width: 250px;
    height: 250px;
}

.card-team .team-details #hp1  {
    width: 250px;
    height: 250px;
}

.card-team{
    flex : 1;
    margin-bottom: 15px;
    border-radius: 20px;
    padding : 15px;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-team h1{
    color : var(--blue);
    text-align: left;
    margin-bottom: 20px;
    white-space: nowrap;
}

.card-team p{
    color : gray;
}

.card-team a{
    text-decoration: none;
    padding : 20px 50px;
    background-color: var(--blue);
    color : var(--yellow);
    font-weight: bold;
    display: block;
    border-radius: 20px;
}

.card-team section:nth-child(2){
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* Contact page */

.social-card{
    margin-bottom: 15px;
    border-radius: 20px;
    padding : 15px;
    background-color: var(--yellow);
    display: flex;
    justify-content: center !important;
}

.social-card .social-details .social-links{
    display: flex !important;
    align-items: center !important;
}

.social-card .social-details .social-links .social-logo #hp  {
    width: 100px;
    height: 100px;
}

.social-card .social-details .social-links .social-text a{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none !important;
    color: var(--blue);
}


.social-text{
    padding-left: 100px;
}


.social-logo{
    padding: 10px;
}

.social-links{
    padding: 10px;
}

.social-media{
    padding: 50px;
}

.social-media h5{
    font-size: 30px;
    color: var(--blue);
}

.social-icons{
    padding-top: 10px;
}

.social-icons .icon i{
    font-size: 35px !important;
    padding-right: 10px;
}


.card-contact .team-details #hp  {
    width: 250px;
    height: 250px;
}

.card-contact .team-details #hp1  {
    width: 250px;
    height: 250px;
}

.card-contact{
    flex : 1;
    margin-bottom: 15px;
    border-radius: 20px;
    padding : 15px;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-contact h1{
    color : var(--blue);
    text-align: left;
    margin-bottom: 20px;
    white-space: nowrap;
}

.card-contact p{
    color : gray;
}

.card-contact a{
    text-decoration: none;
    color : var(--blue);
}

.card-contact section:nth-child(2){
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
/* archive page */

.yt-vids{
    display: flex;
    justify-content: center !important;
}

.yt-vid-container{
    padding: 15px 40px 15px 40px !important; 
}

.yt-vid-container iframe{
    width: 320px;
    height: 240px;
}

.archive-see-more{
    display: flex;
    justify-content: center;
}

.archive-see-more a{
    text-align: center !important;
}

.archive-title{
    text-align: center !important;
}

.footer2{
    background-color: var(--yellow);
    text-align: center;
    padding-bottom: 50px !important;
    color: var(--blue);
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    #logomobile{
        display: block;
        width: 60px !important;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
    }

    #logoweb{
        display: none;
    }

    .card h1{
        color : var(--blue);
        text-align: center;
        margin-bottom: 20px;
        padding-top: 10px;
        font-size: 35px;
        font-weight: 800 !important;
    }
    
    .card p{
        color : gray;
        font-size: 20px;
        padding: 2px 20px 5px 20px !important;
    }

    .card a{
        text-decoration: none;
        padding : 25px 100px;
        background-color: var(--blue);
        color : var(--yellow);
        font-weight: bold;
        display: block;
        border-radius: 20px;
        font-size: 18px;
        white-space: nowrap;
    }

    #about{
        padding : 30px !important;
    }

    #about-team{
        padding : 10px 30px 10px 30px !important;
    }

    /* about us page */

    .about-card p{
        text-align: center !important;
        font-size: 14px !important;
        padding: 5px !important;
    }

    .card #wblogo{
        width: 200px !important;
    }

    /* FAQ page */
    .faq-card h1{
        color : var(--blue);
        text-align: center;
        font-size: 18px;
        font-weight: 800 !important;
    }

    .faq-card p{
        font-size: 14px !important;
        padding: 5px !important;
    }

    /* team page */
    .card-team h1{
        color : var(--blue);
        text-align: center;
        font-size: 25px;
        font-weight: 800 !important;
    }

    .card-team p{
        font-size: 14px !important;
        padding: 5px !important;
        text-align: left;
    }
    
    .card-team .team-details{
        text-align: center !important;
        display: block !important;
        padding-bottom: 25px;
    }
    
    .card-team .team-details h5{
        font-size: 25px;
        color: var(--blue);
        text-align: left;
        padding: 5px !important;
    }
    
    .card-contact .team-details #hp  {
        width: 200px;
        height: 200px;
    }
    
    .card-contact p{
        font-size: 14px !important;
        padding: 5px !important;
        text-align: left;
    }
    
    .card-contact .team-details{
        text-align: center !important;
        display: block !important;
        padding-bottom: 25px;
    }
    
    .card-contact .team-details h5{
        font-size: 25px;
        color: var(--blue);
        text-align: left;
        padding: 5px !important;
    }
    
    .card-contact .team-details #hp  {
        width: 200px;
        height: 200px;
    }

    .social-links{
        text-align: left !important;
    }

    .social-card .social-details .social-links .social-logo #hp  {
        width: 50px;
        height: 50px;
    }
    
    .social-card .social-details .social-links .social-text a{
        font-size: 25px;
        font-weight: bold;
        text-decoration: none !important;
        color: var(--blue);
    }
    
    
    .social-text{
        padding-left: 10px;
    }
    
    
    .social-logo{
        padding: 10px;
    }
    
    .social-links{
        padding: 10px;
    }

    .social-media{
        padding: 0px;
    }
    
    .social-media h5{
        font-size: 30px;
        color: var(--blue);
    }
    
    .social-icons{
        padding-top: 10px;
    }
    
    .social-icons .icon i{
        font-size: 25px !important;
        padding-right: 5px;
    }

    /* archive page */

    .yt-vids{
        display: block !important;
        text-align: center !important;
    }

    .yt-vid-container{
        padding: 15px !important;
    }

    .yt-vid-container iframe{
        width: 220px;
        height: 165px;
    }

    .footer2{
        font-size: 12px !important;
    }

  }

@media only screen and (min-width: 600px) {
    #nav-left > label{
        display: none;
    }
    #logoweb{
        position: unset;
        transform : unset;
    }
    #logomobile{
        position: unset;
        transform : unset;
    }
    #nav{
        flex-direction: unset;
        justify-content: space-between;
        align-items: center;
    }
    #nav-right{
        display: flex;
        flex-direction: unset;
        width: 100%;
        align-items: center;
        justify-content: end;
        margin: unset;
    }

    #hero-section{
        height: 80vh;
    }

    #about{
        flex-direction: unset;
    }

    #about-team{
        flex-direction: unset;
    }

    footer{
        justify-content: space-between;
    }

    footer span a{
        display: unset;
    }

    /* ABOUT PAGE */

    #about-section{
        height: 80vh;
    }

    #faq-section{
        height: 80vh;
    }
}

@media only screen and (min-width: 1200px){
    #hero-section{
        font-size: 2em;
    }
    .card{
        font-size: 1em;
        padding: 30px;
        border-radius: 50px;
    }

    .card-team {
        font-size: 1em;
        padding: 0px;
        border-radius: 50px;
    }

    .card-contact {
        font-size: 1em;
        padding: 0px;
        border-radius: 50px;
    }
    #about {
        padding: 40px;
    }

    #about-team {
        padding: 10px 50px 10px 50px;
    }

    /* ABOUT PAGE */

    #about-section{
        font-size: 2em;
    }

    .about-card p{
        text-align: left !important;
    }

    .about-card section a{
        margin-top: 50px;
    }

    /* FAQ page */
    .faq-card{
        font-size: .5em !important;
        padding: 20px !important;
        border-radius: 100px !important;
    }

    /* team page */
    .team-card{
        font-size: .5em !important;
        border-radius: 100px !important;
    }

    /* contact page */
    .social-card{
        font-size: .5em !important;
        border-radius: 100px !important;
    }
}