<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHAT'S BEHIND</title>
    <link rel="icon" type="image/x-icon" href="../img/logo.png">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div id="nav">
        <div id="nav-left">
            <label for="menu-toggle">
                <img src="../img/options.png" id="ham-menu"/>
            </label>
            <img src="../img/logo.png" id="logo"/>
        </div>
        <input type="checkbox" id="menu-toggle" style="display: none;"/>

        <div id="nav-right">
            <a href="../index.html">HOME</a>
            <a href="about.html">ABOUT US</a>
            <a href="archive.html">ARCHIVE</a>
            <a href="team.html">TEAM</a>
            <a href="faq.html">FAQ</a>
            <a href="contact.html">CONTACT US</a>
        </div>
    </div>

    <div id="team">
        <div class="team-card" style="padding: 20px !important;">
            <section>
               <h1>CONTACT US</h1>
            </section>
        </div><br><br><br>
        <div class="team-card">
            <section class="team-details">
                <div><img src="../img/1.png" alt="team" id="hp"/></div>
                <div>
                    <h5>Claude Morales</h5>
                    <p>CEO / Director</p>
                    <p>whatsbehindeverything@gmail.com</p>
                </div>
            </section>
        </div>
        <div class="social-card">
            <section class="social-details">
                <div class="social-links">
                    <div class="social-logo"><img src="../img/facebookicon.png" alt="team" id="hp"/></div>
                    <div class="social-text">
                        <a href="https://www.facebook.com/whatsbehindph" target="_blank">Facebook</a>
                    </div>
                </div>

                <div class="social-links">
                    <div class="social-logo"><img src="../img/youtubeicon.png" alt="team" id="hp"/></div>
                    <div class="social-text">
                        <a href="https://www.youtube.com/channel/UCvxVta84UwdC-y16377bdNA/featured" target="_blank">Youtube</a>
                    </div>
                </div>

                <div class="social-links">
                    <div class="social-logo"><img src="../img/igicon.png" alt="team" id="hp"/></div>
                    <div class="social-text">
                        <a href="https://www.instagram.com/whatsbehindph/?hl=en" target="_blank">Instagram</a>
                    </div>
                </div>

                <div class="social-links">
                    <div class="social-logo"><img src="../img/tiktokicon.png" alt="team" id="hp"/></div>
                    <div class="social-text">
                        <a href="https://www.tiktok.com/@whatsbehindph" target="_blank">Tiktok</a>
                    </div>
                </div>

                <div class="social-links">
                    <div class="social-logo"><img src="../img/emailicon.png" alt="team" id="hp"/></div>
                    <div class="social-text">
                        <a href="mailto:whatsbehindeverything@gmail.com">E-Mail</a>
                    </div>
                </div>
                
                <div class="social-links">
                    <div class="social-logo"><img src="../img/phonicon.png" alt="team" id="hp"/></div>
                    <div class="social-text">
                        <a href="tel:+639989921466">Phone</a>
                    </div>
                </div>
            </div>

            </section>
        </div>
    </div>

    <footer>
        <img src="../img/textlogo.png" id="footer-logo">
        
        <span>
            <a href="../index.html">HOME</a>
            <a href="about.html">ABOUT US</a>
            <a href="archive.html">ARCHIVE</a>
            <a href="team.html">TEAM</a>
            <a href="faq.html">FAQ</a>
            <a href="contact.html">CONTACT US</a>
        </span>
    </footer>
</body>
</html>