<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHAT'S BEHIND</title>
    <link rel="icon" type="image/x-icon" href="../img/logo.png">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div id="nav">
        <div id="nav-left">
            <label for="menu-toggle">
                <img src="../img/options.png" id="ham-menu"/>
            </label>
            <img src="../img/logo.png" id="logo"/>
        </div>
        <input type="checkbox" id="menu-toggle" style="display: none;"/>

        <div id="nav-right">
            <a href="../index.html">HOME</a>
            <a href="about.html">ABOUT US</a>
            <a href="archive.html">ARCHIVE</a>
            <a href="team.html">TEAM</a>
            <a href="faq.html">FAQ</a>
            <a href="contact.html">CONTACT US</a>
        </div>
    </div>

    <div id="about">
        <div class="card about-card">
            <section>
               <h1>to be continued</h1>
            </section>
        </div>
    </div>

    <footer>
        <img src="../img/textlogo.png" id="footer-logo">
        
        <span>
            <a href="../index.html">HOME</a>
            <a href="about.html">ABOUT US</a>
            <a href="archive.html">ARCHIVE</a>
            <a href="team.html">TEAM</a>
            <a href="faq.html">FAQ</a>
            <a href="contact.html">CONTACT US</a>
        </span>
    </footer>
</body>
</html>